<%- include('partials/header.ejs') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
    <div class="mainSec">
        <h1>Hi this is a Blog Channel</h1>
        <p>Here you can make different different blogs you want</p>
        <p>And also can see and read what others are writing and posting</p>
    </div>
</body>
</html>

<%- include('partials/footer.ejs') %>