<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>Blog Application Website</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/essays">Essay</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/submit">Make A Blog</a></li>
            </ul>
        </nav> 
    </div>
</body>